### Importovanje biblioteka

In [3]:
import pymysql
import pandas as pd

### Rad sa MySQL bazom

In [ ]:
# Podaci za konektovanje sa bazom
host = "localhost"
port = 3306
user = "root"
password = "12345"
database = "video_players_events"

# Konekcija ka bazi
conn = pymysql.connect(host=host, port=port, user=user, passwd=password.encode('utf-8'), db=database)

# Rad sa kursorom
cursor = conn.cursor()
query = "SELECT * FROM video_players_events"
cursor.execute(query)
data = cursor.fetchall()

# Izdvajanje imena kolona
column_names = [name[0] for name in cursor.description]

cursor.close()
conn.close()

### Kreiranje dataframe-a

In [ ]:
df = pd.DataFrame(data, columns=column_names)

### Cuvanje podataka u csv formatu

In [ ]:
#df.to_csv("video_players_events.csv")

## Analiza

In [5]:
df = pd.read_csv("video_players_events.csv")
df

,Unnamed: 0,id,user_id,lecture_id,video_id,course_id,resolution,total_time,watched_from,watched_to,created_at,updated_at
0,0,1,550,3,1,6,720,11,0,11,2025-05-06 09:48:56,2025-05-06 09:48:56
1,1,2,550,3,1,6,1080,10,0,10,2025-05-06 09:48:56,2025-05-06 09:48:56
2,2,3,498,16,1,7,1080,7,0,7,2025-05-06 09:53:43,2025-05-06 09:53:43
3,3,4,498,16,4,7,1080,14,0,14,2025-05-06 09:53:43,2025-05-06 09:53:43
4,4,5,256,2,1,7,1080,59,0,59,2025-05-06 10:34:45,2025-05-06 10:34:45
...,...,...,...,...,...,...,...,...,...,...,...,...
102661,102661,102662,484,16,9,1,1080,56,178,234,2025-12-28 21:06:53,2025-12-28 21:06:53
102662,102662,102663,484,16,9,1,1080,62,172,234,2025-12-28 21:06:53,2025-12-28 21:06:53
102663,102663,102664,484,16,9,1,1080,69,165,234,2025-12-28 21:06:53,2025-12-28 21:06:53
102664,102664,102665,484,16,9,1,1080,71,163,234,2025-12-28 21:06:53,2025-12-28 21:06:53
102665,102665,102666,484,16,9,1,1080,82,160,242,2025-12-28 21:06:53,2025-12-28 21:06:53

In [6]:
df["month"] = pd.to_datetime(df["created_at"]).dt.month

### Pregled gledanosti kurseva po mesecima

In [7]:
df.pivot_table(index="course_id", columns="month", values="total_time", aggfunc="sum")

month,5,6,7,8,9,10,11,12
course_id,,,,,,,,
1,162935.0,171245.0,229127.0,128247.0,136261.0,218841.0,213656.0,135502.0
2,NaN,1384.0,27758.0,18986.0,15695.0,28070.0,37980.0,23376.0
3,141553.0,158798.0,230209.0,262834.0,212107.0,379298.0,84654.0,63158.0
5,60518.0,153557.0,137063.0,179112.0,166032.0,283563.0,287550.0,241200.0
6,83536.0,53031.0,33489.0,46027.0,30033.0,28831.0,26795.0,36910.0
7,45760.0,36656.0,30071.0,65950.0,62415.0,108002.0,190895.0,109825.0
8,NaN,NaN,NaN,10915.0,1930.0,3869.0,14503.0,9716.0
9,2228.0,7481.0,2245.0,170.0,12.0,450.0,136.0,5218.0
10,NaN,NaN,NaN,215.0,1211.0,1878.0,269.0,377.0

### Pregled gledanosti lekcija po mesecima

In [8]:
df.pivot_table(index="lecture_id", columns="month", values="total_time", aggfunc="sum")

month,5,6,7,8,9,10,11,12
lecture_id,,,,,,,,
1,64145.0,47846.0,61991.0,65830.0,56765.0,69777.0,77587.0,40588.0
2,36094.0,39685.0,44375.0,32518.0,24038.0,49074.0,50100.0,22870.0
3,34936.0,32688.0,35182.0,30835.0,27319.0,48000.0,45916.0,29840.0
4,26769.0,37300.0,39623.0,37135.0,27397.0,56248.0,44678.0,22014.0
5,29282.0,33568.0,41342.0,28038.0,33234.0,44248.0,42745.0,20247.0
6,31650.0,24928.0,33773.0,29135.0,29845.0,35876.0,45117.0,25844.0
7,16383.0,27017.0,38118.0,24802.0,21138.0,49594.0,45188.0,27231.0
8,21273.0,22705.0,30883.0,25039.0,18034.0,28463.0,25588.0,18116.0
9,17286.0,29034.0,37012.0,21612.0,24616.0,36551.0,29026.0,23048.0
10,33446.0,41377.0,25319.0,35211.0,24633.0,28955.0,23565.0,22595.0
11,30546.0,23785.0,32204.0,36168.0,32040.0,36239.0,27444.0,21956.0
12,20705.0,26798.0,30914.0,26000.0,19615.0,39641.0,28028.0,15147.0
13,8588.0,28889.0,54387.0,39092.0,29055.0,37975.0,22986.0,19111.0
14,18270.0,33666.0,36453.0,31905.0,31175.0,42890.0,26945.0,15538.0
15,19413.0,24925.0,45224.0,43937.0,22811.0,52070.0,33816.0,13339.0
16,21454.0,26924.0,43345.0,27256.0,34737.0,67843.0,23374.0,21007.0
17,15467.0,17257.0,31116.0,32092.0,24940.0,34766.0,20320.0,20619.0
18,16902.0,24778.0,20858.0,29795.0,33163.0,45921.0,21761.0,23561.0
19,3950.0,6969.0,1670.0,4394.0,5057.0,14152.0,9515.0,17015.0
20,5442.0,4783.0,1892.0,7318.0,7401.0,15364.0,7155.0,13598.0
21,4542.0,4064.0,884.0,13006.0,14327.0,22719.0,10326.0,17747.0
22,8292.0,6230.0,156.0,6926.0,5235.0,9212.0,15166.0,11795.0
23,7191.0,7708.0,166.0,30488.0,16671.0,26260.0,28957.0,14853.0
24,4504.0,9228.0,3075.0,11506.0,6754.0,25285.0,29676.0,13613.0
25,NaN,NaN,NaN,14512.0,11967.0,28509.0,22110.0,12076.0
26,NaN,NaN,NaN,10026.0,7286.0,21355.0,16913.0,10078.0
27,NaN,NaN,NaN,4813.0,8567.0,24919.0,25718.0,20460.0
28,NaN,NaN,NaN,4512.0,15386.0,35300.0,27013.0,32281.0
29,NaN,NaN,NaN,6524.0,10708.0,13577.0,15517.0,17311.0
30,NaN,NaN,NaN,2031.0,1782.0,12019.0,14188.0,13958.0
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12503.0
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15323.0

### Pregled gledanosti videa po mesecima

In [9]:
df.pivot_table(index="video_id", columns="month", values="total_time", aggfunc="sum")

month,5,6,7,8,9,10,11,12
video_id,,,,,,,,
0,939.0,1739.0,1391.0,2203.0,1887.0,3363.0,2276.0,898.0
1,22770.0,29894.0,39562.0,33949.0,32687.0,49753.0,42599.0,27817.0
2,30888.0,34899.0,43830.0,43440.0,40970.0,64059.0,50929.0,37835.0
3,37943.0,40487.0,51715.0,51677.0,48376.0,79254.0,59808.0,43936.0
4,28187.0,33371.0,45965.0,49032.0,38174.0,69631.0,49742.0,36126.0
5,28678.0,36962.0,45425.0,44166.0,35178.0,57337.0,49672.0,32370.0
6,26638.0,32770.0,36702.0,42162.0,36665.0,53768.0,51679.0,31416.0
7,28362.0,33326.0,41420.0,41653.0,33474.0,54366.0,47794.0,36183.0
8,25564.0,28359.0,33463.0,38273.0,32402.0,54080.0,49152.0,30815.0
9,23393.0,29928.0,36624.0,38541.0,36201.0,59285.0,51379.0,35982.0
10,32539.0,29607.0,38422.0,33966.0,36161.0,52815.0,47299.0,35501.0
11,19670.0,28341.0,31634.0,33426.0,28892.0,48984.0,37229.0,29116.0
12,21293.0,28207.0,31851.0,33248.0,28208.0,45828.0,38753.0,27369.0
13,20849.0,24885.0,31057.0,30390.0,24101.0,47775.0,34098.0,22650.0
14,21137.0,24265.0,25182.0,24137.0,20841.0,36915.0,32535.0,22580.0
15,15800.0,22876.0,23115.0,27975.0,21002.0,43024.0,30370.0,27892.0
16,25993.0,28902.0,25921.0,30695.0,23459.0,42688.0,27729.0,23703.0
17,16651.0,21248.0,26674.0,26239.0,21120.0,40853.0,27726.0,28150.0
18,13463.0,14530.0,12724.0,17563.0,20076.0,28830.0,24344.0,20832.0
19,11100.0,13088.0,15191.0,18440.0,12830.0,22613.0,21285.0,18889.0
20,11296.0,11979.0,15090.0,15551.0,13749.0,35202.0,22859.0,15939.0
21,10041.0,10539.0,14160.0,11029.0,9231.0,20631.0,14693.0,13639.0
22,10994.0,11389.0,10432.0,9846.0,10559.0,15223.0,16747.0,11306.0
23,6616.0,4925.0,7019.0,6138.0,6210.0,10206.0,9906.0,6888.0
24,2611.0,2654.0,3265.0,4323.0,3663.0,8415.0,5698.0,2616.0
25,1126.0,1182.0,1275.0,1845.0,3949.0,3151.0,3928.0,1780.0
26,162.0,940.0,677.0,1256.0,2111.0,1961.0,2130.0,1495.0
27,240.0,202.0,143.0,883.0,2429.0,1347.0,2351.0,605.0
28,61.0,527.0,NaN,139.0,311.0,416.0,673.0,264.0
29,NaN,3.0,33.0,60.0,283.0,179.0,363.0,195.0
30,135.0,NaN,NaN,66.0,190.0,455.0,289.0,126.0
31,1198.0,61.0,NaN,73.0,155.0,164.0,223.0,229.0
32,193.0,61.0,NaN,72.0,152.0,231.0,180.0,140.0
2023,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN